@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}

.animated .rotateIn,.animated.rotateIn {
  animation-name: rotateIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}
