@keyframes fadeInDownBig {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.animated .fadeInDownBig,.animated.fadeInDownBig {
  animation-name: fadeInDownBig;
  animation-duration: 1s;
  animation-fill-mode: both;
}
