@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-200px, 0, 0);
  }
}

.animated .fadeOutLeft,.animated.fadeOutLeft {
  animation-name: fadeOutLeft;
  animation-duration: 1s;
  animation-fill-mode: both;
}
