@keyframes fadeOutUpBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

.animated .fadeOutUpBig,.animated.fadeOutUpBig {
  animation-name: fadeOutUpBig;
  animation-duration: 1s;
  animation-fill-mode: both;
}
