.delay1 {animation-delay: 0.1s;}
.delay2 {animation-delay: 0.2s;}
.delay3 {animation-delay: 0.3s;}
.delay4 {animation-delay: 0.4s;}
.delay5 {animation-delay: 0.5s;}
.delay8 {animation-delay: 0.8s;}
.delay10 {animation-delay: 1s;}
.delay15 {animation-delay: 1.5s;}
.delay16 {animation-delay: 1.6s;}
.delay20 {animation-delay: 2s;}
.delay24 {animation-delay: 2.4s;}
.delay25 {animation-delay: 2.5s;}
.delay30 {animation-delay: 3s;}
.delay32 {animation-delay: 3.2s;}
.delay35 {animation-delay: 3.5s;}
.delay40 {animation-delay: 4s;}
.delay45 {animation-delay: 4.5s;}
.delay48 {animation-delay: 4.8s;}
.delay50 {animation-delay: 5s;}
.delay55 {animation-delay: 5.5s;}
.delay56 {animation-delay: 5.6s;}
.delay60 {animation-delay: 6s;}
.delay64 {animation-delay: 6.4s;}
.delay65 {animation-delay: 6.5s;}
.delay70 {animation-delay: 7s;}
.delay72 {animation-delay: 7.2s;}
.delay75 {animation-delay: 7.5;}
.delay80 {animation-delay: 8s;}
.delay85 {animation-delay: 8.5s;}
.delay88 {animation-delay: 8.8s;}
.delay90 {animation-delay: 9s;}
.delay95 {animation-delay: 9.5s;}
.delay96 {animation-delay: 9.6s;}
.delay100 {animation-delay: 10s;}
